<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hotel Tejas Rojas - Frente al Mar - Villa Gesell</title>
	<!-- CSS -->
	<link href="{{ asset('bundles/app/stylesheets/screen.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/fonts.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/owl.carousel.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/owl.transitions.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/default-skin.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/photoswipe.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/classic.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/classic.date.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

	<!-- Favicons -->
	<link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />
	<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}" />
	<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}" />
	<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}" />
	<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}" />
	<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}" />
	<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}" />
	<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-touch-icon-152x152.png') }}" />
	<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon-180x180.png') }}" />
	
	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
	<!-- JS -->
	<script type="text/javascript" src="{{ asset('bundles/app/js/jquery-2.2.3.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/functions.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/owl.carousel.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/photoswipe.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/photoswipe-ui.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/scroll.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/picker.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/picker.date.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/contacto.js') }}"></script>

	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script>
	  function initialize() {
		var isDraggable = $(document).width() > 480 ? true : false;  
		var ispanControl = $(document).width() > 480 ? true : false;
		var myLatLng = {lat: -37.323141, lng: -57.020792};
		var marker = new google.maps.Marker({
		   animation: google.maps.Animation.BOUNCE,
		   position: myLatLng,
		   title:"Solar Pampa"
		});
		var mapCanvas = document.getElementById('g-map');
		var mapOptions = {
		  center: new google.maps.LatLng(-37.323141, -57.020792),
		  zoom: 15,
		  mapTypeControl: true,
		  panControl:ispanControl,
		  draggable: isDraggable,
		  scaleControl: true,
		  streetViewControl: true,
		  rotateControl: true,
		  scrollwheel: false,
		  mapTypeId: google.maps.MapTypeId.SATELLITE
		}
		var map = new google.maps.Map(mapCanvas, mapOptions);
		marker.setMap(map);
	  }
	  
	  google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</head>

<body>

	<section class="intro" id="home">
		<div class="social-bar">
			<div class="container">
				<ul>
					<li>
						<a>
							<span class="icon-cel"></span>
							<p>(02255) 46-2565 / 2221</p>
						</a>
					</li>
					<li>
						<a href="">
							<span class="icon-google-plus"></span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="icon-twitter"></span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="icon-facebook"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<header>
			<div class="container">
				<button class="hamburger hamburger--spin" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
				<h1>
					<a name="Hotel Tejas Rojas" data-scroll href="#home" class="logo" id="logo">Hotel Tejas Rojas</a>
				</h1>
				<nav class="nav">
					<ul>
						<li><a class="link-habitaciones" data-scroll href="#ficha">Habitaciones</a></li>
						<li><a class="link-servicios" data-scroll href="#servicios">Servicios</a></li>
						<li><a class="link-fotos" data-scroll href="#fotos">Fotos</a></li>
						<li><a class="link-guarderia" data-scroll href="#guarderia">Guardería</a></li>
						<li><a class="link-contacto" data-scroll href="#contacto">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="slider">
			<div>
				<div class="item item-1">
					<span class="quote">Cómodo y familiar</span>
				</div>
			</div>
			<div>
				<div class="item item-2">
					<span class="quote">Habitaciones en planta alta con vista al mar</span>
				</div>
			</div>
			<div>
				<div class="item item-3">
					<span class="quote">De cara al mar y cerca del centro comercial</span>
				</div>
			</div>
		</div>
	</section>


	{% block content %}
	{% endblock %}

	

	<footer>
		<div class="container">
			<p class="copy">&copy; 2017 Mar de las pampas TRAVEL</p>
		</div>
	</footer>

	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="pswp__bg"></div>
		<div class="pswp__scroll-wrap">
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>
			<div class="pswp__ui pswp__ui--hidden">
				<div class="pswp__top-bar">
					<div class="pswp__counter"></div>
					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
					<button class="pswp__button pswp__button--share" title="Share"></button>
					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div>
				</div>
				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>{#

<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>La Mansión del Bosque</title>
	<!-- CSS -->
	
	<link href="{{ asset('bundles/app/stylesheets/screen.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/photoswipe.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/default-skin/default-skin.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/fonts.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/admin-v2.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<!-- FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<!-- JS -->
	<script type="text/javascript" src="{{ asset('bundles/app/js/jquery-2.2.3.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/scroll.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/photoswipe.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/photoswipe-ui-default.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/functions.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/contacto.js') }}"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script>
  function initialize() {
	var isDraggable = $(document).width() > 480 ? true : false;  
	var ispanControl = $(document).width() > 480 ? true : false;
	var myLatLng = {lat: -37.323141, lng: -57.020792};
	var marker = new google.maps.Marker({
	   animation: google.maps.Animation.BOUNCE,
	   position: myLatLng,
	   title:"La Mansión del Bosque"
	});
	var mapCanvas = document.getElementById('map');
	var mapOptions = {
	  center: new google.maps.LatLng(-37.323141, -57.020792),
	  zoom: 15,
	  mapTypeControl: true,
	  panControl:ispanControl,
	  draggable: isDraggable,
	  scaleControl: true,
	  streetViewControl: true,
	  rotateControl: true,
	  scrollwheel: false,
	  mapTypeId: google.maps.MapTypeId.SATELLITE
	}
	var map = new google.maps.Map(mapCanvas, mapOptions);
	marker.setMap(map);
  }
  
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body class="{% if app.request.attributes.get('_route') == 'homepage' %}home{% else %}int{% endif %}">

	<header>
		<div class="container">
			<button class="hamburger hamburger--spin" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
			
			<a href="/">
				<h1 class="logo" title="La Mansión del Bosque">
					La Mansión del Bosque
				</h1>
			</a>
			
			<div class="social">
				<p>(02255) 47-9755 | 47-9655 | 47-9555</p>
				<ul>
					<li><a href=""><span class="icon-facebook"></span></a></li>
					<li><a href=""><span class="icon-twitter"></span></a></li>
					<li><a href=""><span class="icon-google"></span></a></li>
				</ul>
			</div>
			
			<nav>
				<ul>
					{% if app.request.attributes.get('_route') == 'homepage' %}
					<li><a href="{{ path('habitaciones') }}">Habitaciones</a></li>
					<li><a href="{{ path('aparts') }}">Los Aparts</a></li>
					<li><a data-scroll href="#us">El complejo</a></li>
					<li><a data-scroll href="#services">Servicios</a></li>
                    <li><a data-scroll href="#gallery">Fotos</a></li>
					<li><a data-scroll href="#ubicacion">Ubicacion</a></li>
					<li><a data-scroll href="#contacto">Contacto</a></li>
					{% else %}
					<li><a href="{{ path('habitaciones') }}">Habitaciones</a></li>
					<li><a href="{{ path('aparts') }}">Los Aparts</a></li>
					<li><a href="{{ path('homepage')}}#us">El complejo</a></li>
					<li><a href="{{ path('homepage')}}#services">Servicios</a></li>
                    <li><a data-scroll href="#gallery">Fotos</a></li>
					<li><a href="{{ path('homepage')}}#ubicacion">Ubicacion</a></li>
					<li><a href="{{ path('homepage')}}#contacto">Contacto</a></li>
					{% endif %}
				</ul>
			</nav>

		</div>
	</header>

	{% block content %}
	{% endblock %}

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<span class="logo-footer">
						<img src="{{ asset('bundles/app/images/logo-footer.png') }}" alt="">
					</span>
					<p>Hotel La Mansión del Bosque | Spa &amp; Resort<br>
					Mar de las Pampas - Argentina<br>
					(02255) 47-9755 | 47-9655 | 47-9555</p>
				</div>
				<div class="col-sm-6 rt">
					<a href="mailto:info@lamansiondelbosque.com">info@lamansiondelbosque.com</a>
					<ul>
						<li><a href=""><span class="icon-facebook"></span></a></li>
						<li><a href=""><span class="icon-twitter"></span></a></li>
						<li><a href=""><span class="icon-google"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
		<div class="pswp__bg"></div>
		<div class="pswp__scroll-wrap">
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>
			<div class="pswp__ui pswp__ui--hidden">
				<div class="pswp__top-bar">
					<div class="pswp__counter"></div>
					<button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
					<button title="Share" class="pswp__button pswp__button--share"></button>
					<button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
					<button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div>
				</div>
				<button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
				<button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>
			</div>
		</div>
	</div>

</body>

</html> #}